body {
  background-color: #22396a;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 40px;
}

h2 {
  color: #6abc66;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

address {
  font-size: 20px;
  font-style: normal;
}

.social-profile-link {
  color: #d04450;
  margin-right: 12px;
}
